<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Info</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <nav class="navbar">
    <div class="nav-logo">Tech With Ratan</div>

    <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'get_courses' %}">Courses</a></li>
        <li><a href="{% url 'get_trainers' %}">Trainers</a></li>
        <li><a href="{% url 'get_students' %}">Students</a></li>
        {% if user.is_authenticated   %}
        <li><a href="{%url 'logout'%}">logout</a></li>
        {%else%}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        {%endif%}
    </ul>
</nav>
    <div>
      {% if perms.academy.add_trainer %}
      <div>
        <a href="{% url 'add_trainer' %}">Add Trainer</a>
      </div>
      {%endif%}
        <table >
            <tr>
              <th>full name</th>
              <th>Expertise</th>
              <th>Email</th>
              <th>trainer photo</th>
              <th>Action</th>
            </tr>

            {% for trainer in trainers %}
            <tr>
              <td>{{trainer.full_name}}</td>
              <td>{{trainer.expertise}}</td>
              <td>{{trainer.email}}</td>
              
              <td><img src="{{trainer.trainer_photo.url}}" alt="" width="150"></td>
              <td>
                <div>
                  <a href="{% url 'trainer' trainer.id %}"><i class="fa fa-eye"></i> </a> 
                  {% if prems.academy.delete_trainer %}
                  <a href="{% url 'delete_trainer' trainer.id %}"><i class="fa fa-trash"></i></a>
                  {%endif%}
                  {% if prems.academy.change_trainer %}
                  <a href="{% url 'update_trainer' trainer.id %}"><i class="fa fa-edit"></i></a>
                  {%endif%}
                </div>
              </td>
            </tr>
            {% endfor %}
          </table>
    </div>
    
</body>
</html>